<h2 style="display:inline; vertical-align: middle;"> This Week </h2>
<%= link_to("+ Add Event", new_event_path, class: "btn btn-outline-secondary btn-lg", style: "vertical-align: middle;") %>
<%= week_calendar events: @events do |date, events| %>
  <%= date.day %>
  <% events.each do |event| %>
    <div>
      <%= link_to event.name, event %>
    </div>
  <% end %>
<% end %>

<h2>To Do List:</h2>
  <ul>
    <% @items.each do |item| %>
    <li><%= item.item%></li>
    <%end%>
  </ul>
    <%=render"items/form" %>

<h2 style="display:inline; vertical-align: middle;">Update Feed</h2>
<%= link_to("New Post", new_post_path, class: "btn btn-outline-secondary btn-lg", style: "vertical-align: middle;") %>
<br>
<div class="posts-index">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <div class="post-right">


          <%= link_to(post.content, post) %>
          </div>
          <div class="post-user-name">

            <%= "Posted by: #{post.user.name} @"%>
            <%=  local_time_ago(post.created_at) %>

          </div>

      </div>
    <% end %>

    <% if @posts.count > 9 %>
    <i>* Showing only last 10 updates</i>
    <% end %>



    <br>

  </div>
</div>


<br>
