
<div class="main">
  <div class="index-message">
    <h1>One calendar, one list, one update<br>Coordinate care in one place</h1>
    <p>The Care Hub: Connecting with loved ones made easy</p>

    <h2> Calendar Test </h2>
    <%= week_calendar events: @events do |date, events| %>
      <%= date.day %>
      <% events.each do |event| %>
        <div>
          <%= link_to event.name, event %>
        </div>
      <% end %>
    <% end %>

    <h2>To Do List Coming Soon!</h2>

    <h2>Updates/Announcements</h2>
    <div class="posts-index">
      <div class="container">
        <% @posts.each do |post| %>
          <div class="posts-index-item">
            <div class="post-left">


            </div>
            <div class="post-right">
              <div class="post-user-name">

                <%= "User id: #{post.user_id}" %>
              </div>

              <%= post.content %>
            </div>
          </div>
        <% end %>
      </div>
    </div>


  </div>
</div>
