<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :name, "Event Name" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time,  :ampm => true, :discard_year => true, :order => [:month, :day, :year] %>
  </div>

  <div class="field">
    <%= form.label :end_time %>
    <%= form.datetime_select :end_time,  :ampm => true, :discard_year => true, :order => [:month, :day, :year] %>
  </div>

<!-- Saves user_id when editing/creating new -->
  <div class="field">
    <%= form.label :user_id, "Created by:" %>
    <% if @event.user_id %>
      <%= User.find_by(id: event.user_id).name %>
      <%= form.hidden_field :user_id, :value => event.user_id %>
      
    <% else %>
      <%= form.label :user_id, current_user.name %>
      <%= form.hidden_field :user_id, :value => current_user.id %>
    <% end %>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
