<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time.strftime("%A, %B %e, %Y at %l:%M %P") %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time.strftime("%A, %B %e, %Y at %l:%M %P") %>
</p>

<p>
  <strong>Created by:</strong>
  <% if @event.user_id %>
    <%= User.find_by(id: @event.user_id).name %>
  <% else %>
    Nobody
  <% end %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', events_path %>
