<p id="notice"><%= notice %></p>

<h1>Calendar</h1>

<%= link_to("Day", "/events/day") %>
<%= link_to("Month", events_path) %>
<br>
<%= link_to 'Create New Event', new_event_path %>

<h2> Week View </h2>

<%= week_calendar events: @events do |date, events| %>
  <%= date.day %>

  <% events.each do |event| %>
    <div>
      <%= link_to "#{event.start_time.strftime("%l %P")} - #{event.name}", event %>
    </div>
  <% end %>
<% end %>
