<p id="notice"><%= notice %></p>

<h1>Update Feed</h1>

<%= link_to 'New Post', new_post_path %>
<div class="main ">

  <div class="container">
    <br>
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <div class="post-right">


          <%= link_to(post.content, post) %>
          </div>
          <div class="post-user-name">

            <%= "Posted by: #{post.user.name} @"%>
            <%=  local_time_ago(post.created_at) %>

          </div>

      </div>
    <% end %>
    <br>
  </div>
</div>
