<!DOCTYPE html>
<html>
  <head>
    <title>Carehub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <nav>
        <ul>
          <li><%= link_to("Home", "/") %></li>
          <li><%= link_to("Calendar", "/events/") %></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>
    </nav>

  </head>

  <body>


<h1>Welcome to CareHub! </h1>


  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

    <%= yield %>

  </body>
</html>
