<!DOCTYPE html>
<html>
  <head>
    <title>Carehub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <nav>
        <ul>
          <li><%= link_to("Home", "/") %></li>
          <li><%= link_to("Sign Up", "/signup") %></li>
          <li>
          <% if current_user %>
            <%= link_to 'Edit Profile', edit_user_registration_path %>
            <%= link_to 'Log Out', destroy_user_session_path %>

          <% else %>
            <%= link_to("Log In", "/login") %>
          <% end %>



          </li>
          <li><%= link_to("Calendar", "/events/") %></li>
          <li><%= link_to("Updates", "/posts") %></li>
          <li><%= link_to "To Do List", new_item_path %></li>
          <li><a href="#">Link</a></li>
        </ul>
    </nav>

  </head>

  <body>


<h1>Welcome to CareHub! </h1>


  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

    <%= yield %>

  </body>
</html>
